.primaryColorBG {
  background-color: @color !important;
}
.primaryColor {
  color: @color !important;
}
.primaryColorBorder {
  border-color: @color !important;
}
.Header,
base-root main-layout .main-layout-alma-header {
  background: @color !important;
}
.HeaderWrap {
  background: @color !important;
}
.HeaderWrap .navbar li:hover,
.HeaderWrap .navbar li.almaMenuItem.open {
  background-color: @bgcolor !important;
}
.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.open > .dropdown-toggle.btn-primary {
  background-color: @color !important;
}
.tasksWidget .btn-primary.active,
.tasksWidget .btn-primary:active,
.tasksWidget .btn-primary:focus,
.tasksWidget .open > .dropdown-toggle.btn-primary {
  background-color: @bgcolor1 !important;
}
.searchWrap .input-group .btn-primary.disabled,
.searchWrap .input-group .btn-primary.disabled.active,
.searchWrap .input-group .btn-primary.disabled:active,
.searchWrap .input-group .btn-primary.disabled:focus,
.searchWrap .input-group .btn-primary.disabled:hover,
.searchWrap .input-group .btn-primary[disabled],
.searchWrap .input-group .btn-primary[disabled].active,
.searchWrap .input-group .btn-primary[disabled]:active,
.searchWrap .input-group .btn-primary[disabled]:focus,
.searchWrap .input-group .btn-primary[disabled]:hover,
.searchWrap .input-group fieldset[disabled] .btn-primary,
.searchWrap .input-group fieldset[disabled] .btn-primary.active,
.searchWrap .input-group fieldset[disabled] .btn-primary:active,
.searchWrap .input-group fieldset[disabled] .btn-primary:focus,
.searchWrap .input-group fieldset[disabled] .btn-primary:hover {
  background: @color !important;
}
.searchWrap .input-group .btn-primary {
  border-color: @color !important;
}
.searchWrap .input-group .btn-primary:hover {
  background-color: @bgcolor !important;
  border-color: @bgcolor !important;
}
#advancedSearchWrapper .btn.btn-primary.dropdown-toggle.advancedSearchKeyDisplayButton:focus,
#advancedSearchWrapper .btn.btn-primary.dropdown-toggle.advancedSearchKeyDisplayButton:hover,
#advancedSearchWrapper .btn.btn-primary.dropdown-toggle.advancedSearchKeyDisplayButton:active {
  background-color: @bgcolor !important;
  box-shadow: inset 0 -3px 0 @bgcolor !important;
}
.Header .btn:focus {
  background-color: @bgcolor !important;
}
.Header .showFavMenu:focus,
.Header .showFullMenu:focus,
.mainSearchButton:focus {
  background-color: @bgcolor !important;
}
.input-group-btn .btn-primary:focus {
  box-shadow: inset 0 -3px 0 @color !important;
}
.duplicateRowBtn:hover,
.addRowBtn:hover {
  text-decoration: none;
}
.input-group-btn .btn-primary {
  box-shadow: inset 0 -3px 0 @color !important;
}
.input-group-btn .btn-primary:hover,
.input-group-btn .btn-primary:focus {
  box-shadow: inset 0 -3px 0 @bgcolor !important;
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
  background-color: @bgcolor !important;
  border-color: @bgcolor !important;
}
.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
  background-color: @bgcolor !important;
  border-color: @bgcolor !important;
}
.btnWrapper .pageButton.btn-secondary:hover,
.btnWrapper .pageButton.btn-secondary:focus {
  background-color: @color !important;
  color: #ffffff;
}
.checkContainer .toggleCheck:after {
  border: 1px solid @color;
}
.Header .showFavMenu:hover,
.Header .showFullMenu:hover,
.menuSearchBox .searchArea,
.mainSearchButton:hover {
  background-color: @bgcolor !important;
}
.add_button_welcome_page {
  color: @color;
}
.add_button_welcome_page:hover {
  color: @bgcolor;
}
.typeD table th.dragHandler:hover,
table th.sortable:hover {
  background-color: @bgcolor !important;
}
.typeD table th.dragHandler,
table th.sortable {
  background-color: @color !important;
}
table .blueBtnBg {
  background: @color !important;
}
.Header .whiteBg a:hover {
  background-color: #fff !important;
}
.favLinksList {
  background: @color;
}
.favMenuLink a:hover {
  background-color: @bgcolor;
}
.favMenuLink a:focus {
  background-color: @bgcolor !important;
}
.searchWrap .searchContent .advancedSearchBtn:focus,
.searchWrap .searchContent .advancedSearchBtn:hover {
  color: @bgcolor !important;
}
.menuIcons:focus {
  background-color: @bgcolor !important;
}
.HeaderWrap .navbar .menuWrapper,
.favLinksList {
  border-left: @color;
}
.showFullMenu a:focus {
  background-color: @bgcolor !important;
}
.logoLinkStyle:focus {
  border: 1px @bgcolor solid;
}
.btn-primary {
  background-color: @color;
  border-color: @bgcolor;
}
.menuIcons.open,
.menuIcons:hover {
  background-color: @bgcolor !important;
  border-color: @bgcolor;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: @bgcolor;
  border-color: @bgcolor;
}
.HeaderWrap .navbar li:hover,
.HeaderWrap .navbar li.almaMenuItem.open {
  background-color: @bgcolor;
}
.tasksWidget .panel-heading .btn {
  background-color: @widgetcol !important;
  border-color: @widgetcol !important;
}
.tasksWidget .panel-heading .btn .taskGroupTaskCount {
  background-color: @color;
}
.tasksWidget .panel-heading .btn .taskGroupTaskName {
  color: #ffffff;
}
.tasksWidget .panel-heading .btn .alignRight {
  color: #ffffff;
}
.tasksWidget .panel-heading .btn:hover,
.tasksWidget .panel-heading .btn:focus {
  background-color: @bgcolor1 !important;
}
.calendarWidget .calendarWidgetFormWrapper {
  background-color: @widgetcol;
}
.calendarWidget .calendarWidgetFormWrapper .calendarWidgetMainHeader {
  color: #ffffff;
}
.blueBtnBg {
  background: @color;
  background-color: @color;
}
.pagination .blueBtnBg {
  background: @color !important;
  background-color: @color !important;
}
.pagination .jumpToPageContainer > button {
  background-color: @color;
}
.pagination .jumpToPageContainer > button:hover {
  background-color: @bgcolor;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #eeddfe;
}
.floatNavigationContainer .floatPaginationUl [class*="navigationBtn"]:active:not(.paginationButtonDisabled),
.floatNavigationContainer .floatPaginationUl [class*="navigationBtn"]:hover:not(.paginationButtonDisabled),
.pagination [class*="navigationBtn"]:hover {
  background-color: @color !important;
}
.pagination a[class*="navigationBtn"]:active {
  background-color: @bgcolor !important;
}
.floatNavigationContainer .floatPaginationUl [class*="navigationBtn"]:not(.paginationButtonDisabled),
.pagination [class*="navigationBtn"] {
  color: @bgcolor !important;
}
.checkbox > input[type=checkbox]:checked + label::before,
.radio > input[type=radio]:checked + label::before {
  background-color: @color;
}
.checkContainer .toggleCheck {
  background-color: @color;
}
.calendarWidget .calendarWidgetWrapperUi .calenadarWidgetHeader {
  color: @color;
  background-color: #eeddfe;
}
.recentLinks i {
  color: @color;
}
.recentLinks .recentLinkContainer a {
  color: @color;
}
.recentLinks .recentLink span {
  color: @color;
}
.searchWrap .searchContent .advancedSearchBtn {
  color: @color;
}
#advancedSearchWrapper .uxfBlue {
  color: @color;
}
#advancedSearchWrapper .uxfBlue:hover {
  color: @bgcolor;
}
.tasksWidget .panel-group .panel + .panel {
  border-top: rgba(132, 60, 219, 0.7) solid 1px;
}
.wizard .wizardStep.active .wizardDot {
  background-color: @color !important;
}
.wizard .wizardStep .wizardDot {
  background: #eee;
  background: radial-gradient(#eeeeee, @color);
  background-size: 1000% 1000%;
  background-position: 50% 50%;
}
.wizard .wizardStep.complete .wizardDot {
  background-color: @bgcolor !important;
}
.wizard .wizardStep.complete:not(.prevStep) .wizardProgress {
  background-color: @color !important;
}
.wizard .wizardStep .wizardProgress {
  background: linear-gradient(to right, #eeeeee, @color);
  background-position: 0% 50%;
  background-size: 1000% 100%;
}
.newUIUsageWidget .chartLogo {
  color: @color;
}
.newUIUsageWidget .newUIUsageLegend > div:nth-child(1) > span:nth-child(1) {
  background: @color;
}
#searchContentPlaceholder .placeholderContainer .firstPlaceholder,
#searchContentPlaceholder .placeholderContainer .fourthPlaceholder {
  background: @color;
}
.loadingBlocker .loader {
  border-left: 1.1em solid @color;
}
.loader1 {
  background: @color;
  background: linear-gradient(to right, @color 10%, rgba(255, 255, 255, 0) 42%);
}
.loader1:before {
  background: @color;
}
.loader2 {
  color: @color;
}
.loader3 .path,
.loader4 .path,
.loader5 .path {
  stroke: @color;
}
.loader6-2,
.loader7-2 {
  border-left-color: @color;
}
