<h1>lAma <span lang="de">Neuerungen</span><span lang="en">Change Log</span></h1>
<div id="srclink"><a target="_blank" href="https://gitlab.com/tuub/tulama"><span lang="de">Ausführliche Anleitung und Quellcode auf gitlab.com</span><span lang="en">Detailed manual and source code available on gitlab.com</span></a></div>
<div>
  <h2>Version 1.99.16</h2>
  <ul>
    <li>
      <b><span lang="de">971_5 (nur TUW)</span><span lang="en">971_5 (TUW only)</span>:</b> <span lang="de">Update auf TISS-API v2.3.</span><span lang="en">Update to TISS API v2.3.</span>
    </li>
    <li>
      <b><span lang="de">Warnungen (Dubletten Check)</span><span lang="en">Warnings</span>:</b> <span lang="de">Genauen Feldtext extrahieren (^ und $ in Regexp.).</span><span lang="en">Extract exact tag text for ^ and $ in reg. exp..</span>
    </li>
  </ul>
</div>
<div>
  <h2>Version 1.99.15</h2>
  <ul>
    <li>
      <b><span lang="de">TUT TAT</span><span lang="en">Related records</span>:</b> <span lang="de">OK-Meldung bei NZ DS wenn Überordnung in der IZ.</span><span lang="en">OK message for NZ records when related record is in IZ.</span>
    </li>
    <li>
      <b><span lang="de">Warnungen (Dubletten Check)</span><span lang="en">Warnings</span>:</b> <span lang="de">Markierung der betroffenen Textstellen bei Level 0 Regeln.</span><span lang="en">Mark matching text on level 0 rules.</span>
    </li>
    <li>
      <b><span lang="de">Neue Titel-Suche</span><span lang="en">New title search</span>:</b> <span lang="de">Strg-Alt-Y funktioniert nun auch für elektronische (und digitale) Titel</span><span lang="en">Ctrl-Alt-Y ist now working for electronic (and digital) titles too.</span>
    </li>
  </ul>
</div>
<div>
  <h2>Version 1.99.14</h2>
  <ul>
    <li>
      <b><span lang="de">TUT TAT</span><span lang="en">Related records</span>:</b> <span lang="de">Nur für IZ-Datensätze.</span><span lang="en">Only for IZ records.</span>
    </li>
    <li>
      <b><span lang="de">Neue Titel-Suche</span><span lang="en">New title search</span>:</b> <span lang="de">Quoten von nicht alphanummerischen Zeichen.</span><span lang="en">Quote non alphanumeric chars.</span>
    </li>
  </ul>
</div>
<div>
  <h2>Version 1.99.13</h2>
  <ul>
    <li>
      <b><span lang="de">URL- und ID-Links</span><span lang="en">URL and ID links</span>:</b> <span lang="de">Nur mehr mit Alt-, Shift- und Meta-Tasten. Nicht mehr mit Strg!</span><span lang="en">Now only with Alt, Shift and Meta key. Not with Ctrl anymore.</span>
    </li>
    <li>
      <b><span lang="de">lAma-Einstellungen</span><span lang="en">Add-On Settings</span>:</b> <span lang="de">Bug-Fix</span><span lang="en">Bug fix</span>
    </li>
  </ul>
</div>
<div>
  <h2>Version 1.99.12</h2>
  <ul>
    <li>
      <b><span lang="de">MDE - lokale Felder</span><span lang="en">MDE - local fields</span>:</b> <span lang="de">Aktivieren des Checks im OBV.</span><span lang="en">Aktivate check in OBV.</span>
    </li>
  </ul>
</div>
<div>
  <h2>Version 1.99.11</h2>
  <ul>
    <li>
      <b><span lang="de">MDE - lokale Felder</span><span lang="en">MDE - local fields</span>:</b> <span lang="de">Überprüfung auf fehlende lokale Felder.</span><span lang="en">Check for missing local fileds.</span>
    </li>
  </ul>
</div>
<div>
  <h2>Version 1.99.10</h2>
  <ul>
    <li>
      <b><span lang="de">Schlagwortfolgen-Check</span><span lang="en">keyword sequences check</span> (689):</b> <span lang="de">Bug-Fix</span><span lang="en">bug fix</span>
    </li>
  </ul>
</div>
<div>
  <h2>Version 1.99.9</h2>
  <ul>
    <li>
      <b><span lang="de">Schlagwortfolgen</span><span lang="en">keyword sequences</span>:</b> <span lang="de">Überprüfung der Sequenz (689 Indikatoren)</span><span lang="en">Check 689 indikators</span>
    </li>
    <li>
      <b><span lang="de">TUT TAT</span><span lang="en">Related records</span>:</b> <span lang="de">Überprüfe das Vorhandensein des übergeordneten Titels in der IZ</span><span lang="en">Check existence of related titles</span> (830/773 $w)
    </li>
  </ul>
</div>
<div>
  <h2>Version 1.99.8</h2>
  <ul>
    <li>
      <b><span lang="de">Bestandsangaben</span><span lang="en">Summary Holdings</span></b> (HOL 866_30 sp) bug fix
    </li>
    <li>
      <b><span lang="de">Meldungen:</span><span lang="en">Messages:</span></b> <span lang="de">Verhinderung von mehrfach gleichen Meldungen.</span>
      <span lang="en">Avoid multiple equal messages.</span>
    </li>
  </ul>
</div>
<div>
  <h2>Version 1.99.7</h2>
  <ul>
    <li>
      <b><span lang="de">Neue Titelsuche</span><span lang="en">New Title Search</span></b> <span lang="de">Warnungen</span><span lang="en">Warnings</span>
    </li>
  </ul>
</div>
<div>
  <h2>Version 1.99.6</h2>
  <ul>
    <li>
      <b>Bug fix release</b>
    </li>
  </ul>
</div>
<div>
  <h2>Version 1.99.5</h2>
  <ul>
    <li>
      <b><span lang="de">lAma-News/Neuerungen</span><span lang="en">lAma-News/Change Log</span>: </b>
      <span lang="de">Neuerungen erneut anzeigen mit Klick auf die Versionsnummer im lAma-Add-On-Menü (rechts oben).</span>
      <span lang="en">Show this Change Log again with click to the version number in the Add-On menu (top right).</span>
    </li>
    <li>
      <b><span lang="de">Externe und ID-Links</span><span lang="en">External and ID links</span>: </b>
      <span lang="de">Jetzt auch mit (Alt, Shift, Strg) Klick direkt auf die URL bzw. ID.</span>
      <span lang="en">Now with (Alt, Shift, Ctrl) click direct at the URL or ID.</span>
    </li>
  </ul>
</div>
<div>
  <h2>Version 1.99.4</h2>
  <ul>
    <li>
      <b><span lang="de">Zusammenfassende Bestandsangaben</span><span lang="en">Summary Textual Holdings</span> 866_30 $$a:</b>
      <span lang="de">Neue Option: Leerzeichen in den "Zusammenfassenden Bestandsangaben" werden farblich hervorgehoben.</span>
      <span lang="en">New option: Spaces in the 'Summary Textual Holdings' are highlighted in color.</span>
    </li>
  </ul>
</div>
<div>
  <h2>Version 1.99.3</h2>
  <ul>
    <li>
      <b>MDE Autocomplete:</b>
      <span lang="de">Fast Option: Es wird sofort (0,7s) gesucht, auch leere Anfragen werden gesendet.<br/>
        Diese Option bitte nur bei Services mit begrenztem Vokabular und daher garantierten Antwortzeiten unter 1s aktivieren.<br/>
        Ein Beispiel einer Basisklassifikations-Suche für Feld 084 ist <a target="_blank" href="https://gist.github.com/leozachl/2ae6144d1a51bc9f7c8aedcf341e427b">hier</a> zu finden.</span>
      <span lang="en">Fast Option: The search is triggered immediately (0.7s), even empty queries are sent.
        Please enable this option only for services with a limited vocabulary and guaranteed response times under 1 second.
        An example of a basic classification search for tag 084 can be found <a target="_blank" href="https://gist.github.com/leozachl/2ae6144d1a51bc9f7c8aedcf341e427b">here</a>.</span>
    </li>
  </ul>
</div>
<div>
  <h2>Version 1.99.2</h2>
  <ul>
    <li>
      <b>MDE Autocomplete:</b> 
      <span lang="de">Um überflüssige Suchanfragen zu vermeiden, startet bei den meisten Autocomplete-Funktionen die Suche erst nach dem Drücken der<br/>
        <b>rechten Strg-Taste</b> (oder 10s nach der letzten Änderung).</span>
      <span lang="en">To avoid unnecessary search queries, most autocomplete functions will now only initiate a search after pressing the <br/>
        <b>right Ctrl</b> key (or 10 seconds after the last input).</span>
    </li>
    <li>
      <span lang="de"><b>Bug-Fix:</b> Nicht initialisierte Einstellung verhinderte in den meisten Fällen den lAma-Start.</span>
      <span lang="en"><b>Bug fix:</b> Uninitialized setting prevented startup in most cases.</span>
    </li>
  </ul>
</div>
<div>
  <h2>Version 1.99.1</h2>
  <ul>
    <li>
      <span lang="de"><b>Neue Titelsuche:</b> Die Listensuche (Strg-Alt-Y) erfolgt nun direkt in der einfachen Suche.<br>
        Nur zur Auswahl eines in der einfachen Suche nicht angebotenen Such-Index muss in die erweiterte Suche gewechselt werden.<br>
        Die neue Titelsuche befindet sich d.Z. noch in Entwicklung bei Exlibris und muss extra aktiviert werden.
      </span>
      <span lang="en"><b>New Title Search</b> The list search (Ctrl-Alt-Y) is now working directly in the basic search.  
        Only when selecting a search index that is not available in the basic search is it necessary to switch to the advanced search.<br>
        The new title search is currently still in development at ExLibris and needs to be activated separately.</span>
    </li>
    <li>
      <span lang="de"><b>ID-Links:</b> Durch Regeln in den Einstellungen werden für alle passenden IDs der Form (ISIL/SN-Typ)IdIdIdIdIdId in $$0 und $$9 Links erzeugt,<br>
        welche durch klicken auf die Feldnummer geöffnet werden.<br>
        Im MDE nur mit Shift, Strg, Alt oder Meta. Je nach gedrückter Meta-Taste gehen die Links in einem neuen Tab oder Fenster auf.<br>
        Alt öffnet einen neuen Tab. Shift ein neues Fenster. Strg einen neuen Tab, ohne auf diesen zu wechseln.<br>
        Weitere Links gehen im gleichnamigen Tab/Fenster auf, unabhängig von der gedrückten Meta-Taste.<br>
        Gegebenenfalls Tab vorher schließen, oder durch rausziehen zu einem eigenen Fenster machen.<br>
        Die Tabs/Fenster sind nach der ISIL/SN-Typ benannt, d.h. dass z.B. alle GND-Links im gleichen Tab/Fenster aufgehen.<br>
        Sind mehr als zwei Meta-Tasten (z.B: Shift+Alt) gedrückt werden unbenannte neue Tabs/Fenster geöffnet.
      </span>
      <span lang="en"><b>ID Links</b> Through rules in the settings, for all matching IDs in the format (ISIL/SN-Type)IdIdIdIdIdId, links are created in $$0 and $$9,<br>
        which can be opened by clicking on the tag number.<br>
        In the MDE, this is only possible with Shift, Ctrl, Alt, or Meta keys. Depending on which Meta key is pressed, the links open in a new tab or window.<br>
        Alt opens a new tab. Shift opens a new window. Ctrl opens a new tab without switching to it.<br>
        Further links open in the tab/window with the same name, regardless of the pressed Meta key.<br>
        If necessary, close the tab before or drag it out to make it a separate window.<br>
        The tabs/windows are named after the ISIL/SN-Type. So all - e.g. gnd - links will be opened in the same tab.<br>
        If more than two Meta (e.g. Shift+Alt) keys are pressed, unnamed new tabs/windows will be opened.
      </span>
    </li>
    <li>
      <span lang="de"><b>URL-Links:</b> Für alle URLs werden ebenfalls Links wie für die IDs erzeugt. Auch in nicht von EL vorgesehene (lokale) Felder.</span>
      <span lang="en"><b>URL Links</b> Links are also generated for all URLs, similar to IDs. This also applies to fields that are not specified by EL (local) fields.</span>
    </li>
  </ul>
</div>
<div></div>
  <h2>Version 1.99</h2>
  <ul>
    <li>
      <b>MDE:</b>
      <span lang="de">Generische Autocomplete-Intergration (beta)</span>
      <span lang="en">Generic autocomplete intergration (beta)</span>
    </li>
  </ul>
</div>
<button>OK</button>
